body{
    background-color: #f1f1f1;
    color: #002538;
}
.nav-item a{
	transition: 300ms;
	color: #002538!important;
}
.nav-item a:hover{
	 background-color: #000;
	 color: #fff!important;
}

.header__logo img {
    max-height: 65px;
}

.intro__title strong{
    display: block;
}